---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
		<h1>Hey, soy Sebastian Soledad<Badge>Disponible para trabajar</Badge></h1>
		<h2>+1 año de experiencia. Desarrollador Web
		</h2>
	</main>
</Layout>
