---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Porfolio</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
:root{
	color-scheme: Ligth dark;
}

html{
	font-family: "Ones Variable",system-ui, sans-serif;
	color-scheme: Ligth dark;
}

body{
	background: #050505;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	

}

</style>
